<a href="https://colab.research.google.com/github/takahiromiura/class_data_analysis_I/blob/main/notebooks/%E3%83%81%E3%83%A5%E3%83%BC%E3%83%88%E3%83%AA%E3%82%A2%E3%83%AB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# コメントアウト

コードセル内でコメントを追加するためには、文の前に `#` を付けます。
`#` 以降の行の文字はコメントアウトされます。

コメントは実行時に無視され、コードの説明やメモを残すために使用されます。
コメントアウトをなくすには、`#` を消去してください。

`Ctrl + /` (Windows) か `Cmd + /` (Mac) で行頭のコメントの記号 `#` を付け外しできます。

In [ ]:
# これはコメントです
print("Hello, world!")  # これもコメントです

Hello, world!

## やってみよう

下のコードセルのコメントを外してから実行してください。

In [ ]:
# print("これはコメントではありません。")

このドキュメントでは、実行するとエラーになるものはコメントアウトしています (上のコードセルを除く)。

# 計算機能

まずは、Python を簡単な電卓のように使ってみましょう。

Python では、演算とそのための記号 (演算子)は次のように対応します。
小数点はピリオド `.` で示します。

加算: `+`

In [ ]:
3 + 2

5

減算: `-`

In [ ]:
10 - 3

7

乗算: `*`

In [ ]:
8 * 3

24


除算: `/`

In [ ]:
3 / 2

1.5


除算 (小数点切り捨て): `//`

In [1]:
3 // 2

1

累乗: `**`

In [ ]:
2 ** 2

4

剰余: `%`

In [ ]:
5 % 2

1

演算子と数字の間のスペースはあってもなくてもよいです。

四則演算の順番は数学のルールに則ります。
先に計算したい部分は、括弧 `()` でくくります。
括弧はきちんと閉じることを忘れずに。

In [ ]:
6 - 4 / 2

4.0

In [ ]:
(6 - 4) / 2

1.0

## やってみよう

次の計算をしてみてください。
- $5 + 2 - 9$
- $3 + 2 \times 8$
- $(3 + 2) \times 5$
- $3 - 2 / 2$
- $4$ の $3 / 3$ 乗

# 文字列を使う

1 などの数値や `japan` などの文字列をリテラル (literal) といいます。

文字列リテラルをそのまま入力すると (例えば `japan`)、後ほど説明するように変数名として認識されます。

文字列(リテラル)自体を扱うには、ダブルクォーテーションか `"` シングルクォーテーション `'` で文字列を囲みます。

In [ ]:
"JAPAN"

'JAPAN'

In [ ]:
'japan'

'japan'

数値も `"` や `'` で囲うと文字列として評価されます。

In [ ]:
"100"

'100'

同じ行で複数の文字列を定義すると結合されて 1 つの文字列として認識されます。

In [ ]:
"wakayama " "prefecture"

'wakayama prefecture'

文字列同士は `+` で結合することができます。

In [ ]:
"wakayama " + "prefecture"

'wakayama prefecture'

文字列同士の引き算や割り算などはできません。

In [ ]:
# "two" - "one"

文字列 `*` 整数 (n) とすると、文字列が n 回繰り返されます。

In [ ]:
"Hello!" * 3

'Hello!Hello!Hello!'

文字列と数字は足すことはできません。

In [ ]:
# "Plus" + 1

## やってみよう
Python を使って次の文字列を作成してみましょう
- programming
- py と thon の結合文字
- YES を 5 回繰り返した文字

# 真偽値

Python では真偽値を `True`, `False` で表します。

In [ ]:
True

True

In [ ]:
False

False

比較演算子はこの真偽値を返します。基本的な比較演算子は以下のものがあります。

- `x == y`: `x` は `y` と等しい
- `x != y`: `x` は `y` と等しくない
- `x > y`: `x` は `y` より大きい
- `x >= y`: `x` は `y` より大きいか等しい
- `x < y`: `x` は `y` より小さい
- `x <= y`: `x` は `y` より小さいか等しい

特に `==` は変数定義に使う `=` と誤用しやすいので、注意してください。

In [ ]:
3 == 4

False

In [ ]:
5 > 2

True

比較演算子の評価は最後に行われます。
下のコードは、2 + 4 が計算された後に、5 と 6 の比較が行われます。

In [ ]:
5 > 2 + 4

False

文字列では大文字・小文字は区別されます。

In [ ]:
'abc' == 'abc'

True

In [ ]:
'abc' == 'ABC'

False

`>` などの大小関係は順番によって決まります (a が最小で、z が最大)。

In [ ]:
'a' < 'b'

True

また、大文字のほうが小文字より小さいです。

In [ ]:
"a" > "B"

True

文字列の大小関係の比較は、勘違いしやすいのでおすすめしません。


数値と文字列など、異なるものの大小は比較できません。

In [ ]:
# 3 > 'abc'

等号かどうかの判別は可能です。

In [3]:
3 == 'abc'

False

## やってみよう

次の文が正しいかどうか、Python を用いて判定してください。

- $3$ は $10$ より大きい
- $8$ は $2$ で割り切れる
- $4 \times 2$ は $9$ より大きい

# 変数

長い計算や、途中式の結果などを保存できると使いまわせて便利です。

任意の文字列 (シンボル) に数字や文字列などのデータを割り当てたものを **変数** (variable) と呼びます。

変数に値を割り当てる (定義する) には、`変数名 = 値` と入力します。

例えば、`apple = 100` とすると、`apple` というシンボルに `100` という数値が割り当てられます。

In [4]:
apple = 100
apple

100

変数の値を書き換えるには、変数を再定義します。

In [ ]:
apple = 150
apple

150

変数名は大文字・小文字が区別されることに注意してください。定義していない変数名を入力するとエラーになります。

In [ ]:
# APPLE

変数には文字列を割り当てることもできます。変数の定義には `"` や `'` が必要ないことに注意してください。

In [ ]:
here = "wakayama"
here

'wakayama'

変数の値の参照は、演算などでも行われます。

In [ ]:
apple * 5

750

In [ ]:
budget = 1000
budget - (apple * 3)

550

ただし、文字列リテラルのときのように、同じ行で文字列が割り当てられた変数を並べても結合されずエラーになります。

In [ ]:
price = "100"
# price "円"

## やってみよう

次の変数を定義しましょう
- A さんの身長 (170 cm)
- A さんの体重 (65 kg)
- A さんの BMI (体重 / 身長 (m) の 2 乗)

## 名前の規則

変数や後ほど学ぶ関数・クラスなどの名前 (識別子ともいう) は以下のルールを満たす必要があります。

1. アルファベット (a-z, A-Z)、数字 (0-9)、漢字などの Unicode 文字や アンダーバー `_` のみを使っている
2. 先頭が数字ではない
3. 予約語ではない (`and` や `None` など)

漢字が使えるので、以下はエラーになりません。

In [ ]:
体重 = 50
体重

50

識別子の間にスペースは空けられません。
以下はエラーになります。

In [ ]:
# normal weight = 50

単語をつなげたいときは、アンダーバー `_` を使いましょう。

In [ ]:
normal_weight = 50

## 分かりやすい変数名を作ろう

`a` などの意味のないものではなく、変数名はできるだけ分かりやすくしましょう。
例えば、以下のコードはどうでしょう。

In [ ]:
a = 10
b = 20
c = a * b
c

200

上のコードは何のためにこの計算をしたのでしょうか？

実は面積の計算をしています。

次のように、コメントで補足説明をつけるのはコードの読みやすさを上げるための一つの手です。

In [ ]:
# 面積を計算する
a = 10
b = 20
c = a * b
c

200

コメントがついたので、何の計算かはわかりました。

しかし、以下のように適切な変数名を付けた方がより分かりやすいのではないでしょうか。

In [ ]:
# 面積を計算する
length = 10
width = 20
area = length * width
area

200

このように、適切な変数名があればコメントがなくても読みやすいコードを作れます。

読みやすいコードを作ることのメリットは、最初はわかりにくいものです。

しかし、1 週間後にコードを見返すとき、読みやすいコードがあると修正が容易になります。

また、他の人と共有するときにも重要です。

より詳しく知りたい人には、[リーディングコード](https://www.amazon.co.jp/dp/4873115655) という本がおすすめです。

## `=` は代入？割り当て？

`=` は数式で等号の意味で使われますが、プログラミング言語でその解釈まで適用しようとすると、変なことになります。

例えば、`x = 1` や `y = x + 1` は、数式として考えても意味が通ります。

では、`x = x + 1` はどうでしょうか。

数式として考えると、この式が成り立つ `x` は特別な場合を除いて存在しませんが、Python ではこれはエラーなく通ります (事前に `x` に数値が割り当てられているならば)。

`x` に 1 が事前に割り当てられているなら、`x = x + 1` は `x` に新たに 2 が割り当てられます。実際に見てみます。

In [ ]:
x = 1
x

1

In [ ]:
x = x + 1
x

2

先ほど説明した通り、左辺は右辺の値を割り当てる名前を表します。

右辺は値なので、`x` でなく、`x` に割り当てられている値が参照され (つまり 1)、それが 1 と足されます。

したがって、`x = x + 1` は `x = 2` になります。

プログラミング言語は、現実の模倣や抽象化したものが多く存在するので、身近なものに置き換えると理解しやすいことが多いです。

一方で、慣れ親しんでいることで逆に理解しづらくなるものもあります。

変数の割り当て式はその一つです。

日本語のテキストだと、`x = 1` を 1 を `x` に代入すると書かれることがほとんどです。

数学でもこの操作は代入として呼ばれるので、数学的な意味で解釈できると誤解しがちです。

しかし、英語ではプログラミングにおける `x = 1` は assignment (割り当て) で、数学における代入 (substitution) とは異なる概念です。

例えば、 Python のチュートリアルの[日本語版](https://docs.python.org/ja/3/tutorial/introduction.html#using-python-as-a-calculator)と[英語版](https://docs.python.org/3/tutorial/introduction.html#using-python-as-a-calculator)の説明を比べてみてください。

## 予約語

Python を起動すると、いくつかの名前が定義されます。

これを予約語 (reserved words) あるいはキーワードといいます。

先ほどのような、`True` や `False` は予約語の 1 つです。予約語は上書きができません。

In [ ]:
# True = 3

Python の予約語は次を参照してください。

- [Python の予約語](https://docs.python.org/ja/3.11/reference/lexical_analysis.html)

プログラミングをやっていくうちに、都度覚えておけば十分です。


`None` は値が存在しないことを示す予約語で、関数などで良く用います。

関数については後ほど説明します。

`None` の判別には `==` ではなく、`is` を用いることが提唱されています。

`None` ではないことを判別するには、`is not` を用います。

In [ ]:
A = 3
A is None

False

In [ ]:
A is not None

True

# エラー

プログラミングをしていく中で、エラーは必ず起こります。

ですが、エラーが出たからといって、気落ちしないでください。エラーが起きたら、その内容をよく読んでみましょう。

例えば、`LEMON` という変数は定義していないので参照しようとするとエラーになります。

In [ ]:
# LEMON

最後の行は、エラーの種類と、その説明が書いてあります。`NameError` は定義されていない変数を参照しようとすると起きるエラーです。

そのあとに続く文を読めば、`LEMON` という変数名が定義されていないためエラーになっていることが分かります。

Python で基本的に用意されているエラーは次を参照してください。

- [基本的なエラーの種類](https://docs.python.org/ja/3/library/exceptions.html#bltin-exceptions)

では、このエラーを修正します。

In [ ]:
LEMON = 1000
LEMON

1000

このように、プログラミングはトライ & エラーの連続です。

教育心理学では、生産的失敗という用語があります。

失敗を糧にすることで学びを促進するのです。たくさん失敗してください!

エラーの内容を読んでもよくわからなかった場合、エラーの内容をコピーして、検索しましょう。

プログラミングに関する Q & A ウェブサイトとして、[stack overflow](https://stackoverflow.com/) が有名です。

ほとんどの場合、こちらを参照すれば同じような問題を抱えた人がいて、それに対する答えも提供されていると思います(一応、日本語版もありますが、英語版よりコンテンツが少ないです)。

また、 [teratail](https://teratail.com/) という日本のサイトもあります。調べても答えが得られなかった場合は、上記の 2 つで質問してみるのもよいでしょう。

他にも、モジュールの使い方がいまいちわからない場合、 [Qiita](https://qiita.com/) で検索してみましょう。そのモジュールを使用した記事があるかもしれません。