<a href="https://colab.research.google.com/github/takahiromiura/class_data_analysis_I/blob/main/notebooks/assignment/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 課題に関する注意

- 元のコードセルは削除しないでください
- 左上に `ファイル 編集` などの文字が表示されていない場合は、画面右上の下向きのアイコンをクリックします。
- 提出用のファイルは、`ファイル -> ダウンロード -> .ipynb をダウンロード` でダウンロードします (.py ファイルではありません）。
- ファイル提出前に `ランタイム -> セッションを再起動して全て実行する` を行ってください。
- 最後まで実行できないファイルは評価対象外です

# 課題 1

あなたは小学校の先生で、生徒の試験点数を管理するためのデータベースを作成したいとします。
各生徒の点数は以下とします。

- 有田
    - 算数 = 65
    - 英語 = 50
    - 国語 = 40
- 湯浅
    - 算数 = 35
    - 英語 = 90
    - 国語 = 40
- 串本
    - 算数 = 40
    - 英語 = 30
    - 国語 = 40

試験の点数のデータは `data` という変数に保存するとします。

## 問 1
下のコードセルに `data` を定義してください。

`data` は生徒毎に科目別の点数をまとめた辞書型です。

In [ ]:
# ここで data を定義

## 問 2
上で `data` を定義した後に、、以下のコードセルを実行してください (エラーがなく、コメント部分と出力があっていれば正しい)。

In [ ]:
data["有田"]["national_language"] # 40

In [ ]:
data["湯浅"]["english"] # 90

In [ ]:
data["串本"]["math"] # 40

## 問 3

国語、英語、算数のうち、平均点数が最も低いのは何ですか。

以下のコードセルを修正し、`data` を用いて各科目の平均点数を出力してください。

In [ ]:
# 国語

In [ ]:
# 英語

In [ ]:
# 算数

問 3 の答え:

## 問 4

3 人の生徒で、最も合計点数が高い人は誰ですか。

以下にコードセルを修正し、`data` を用いて各生徒の合計点数を出力してください。

In [ ]:
# 有田

In [ ]:
# 湯浅

In [ ]:
# 串本

問 4 の答え:

## 問 5

このデータの作成方法は、同姓の生徒がいた場合に問題があります。

同姓がいる場合でも問題ないようなデータ構造を考えてください。

ここでは、有田という人が別にいて、次のような点数であったとします。

- 有田
    - 算数 = 90
    - 英語 = 100
    - 国語 = 80

この生徒も加えた、4 人のデータを以下に作成してください。

In [ ]:
# data を再定義

## 問 6

新たに定義したデータを用いて、各科目の平均点数を以下のデータセルを用いて出力してください。

In [ ]:
# 国語

In [ ]:
# 英語

In [ ]:
# 算数